doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title 幸福包裹

    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Audiowide', rel='stylesheet', type='text/css')
    link(href='asset/stylesheets/default.css', rel='stylesheet')

    block head

  body
    .navbar-wrapper
      .container
        //- nav.navbar.navbar-default.navbar-static-top(role='navigation')
        nav.navbar.navbar-default.navbar-static-top(role='navigation')
          .container
            .navbar-header
              a.logo(href='home.html' )
                img(src="/asset/img/icon/icon-title.png", alt="", style="width:140px; margin-top:4px")
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav
                //- li
                  a(href='home.html') 幸福包裹
                li
                  a(href='shop.html') 禮物百貨
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='cart.html') 禮物籃
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | 禮物箱
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='./status.html') 禮物狀況
                    li
                      a(href='./be.html') 後台管理
                    li
                      a(href='./login.html') 登入/登出

    block content

    script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    script(src='asset/javascripts/default.js')
    script(src='asset/javascripts/default2.js')
    script(src='asset/javascripts/default3-bugs.js')



